# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Build / Output
dist/
dist-ssr/
.nitro/
.next/
out/
coverage/

# Env
.env
*.local

# Tanstack
.tanstack/

# Misc
count.txt
Thumbs.db
*.swp